fastapi==0.115.6
uvicorn[standard]==0.32.1
sqlalchemy==2.0.36
alembic==1.14.1
pydantic==2.10.3
pydantic-settings==2.7.0
pandas
lightgbm
xgboost
scikit-learn
joblib==1.4.2
python-multipart==0.0.19
langgraph==0.2.60
psycopg2-binary==2.9.10
python-dotenv==1.0.1
aiofiles==24.1.0
numpy
slowapi==0.1.9
httpx==0.28.0
openpyxl==3.1.2
